<!-- /templates/index.liquid -->

{% comment %} <div class="index container f w1 mx0 px0"> {% endcomment %}
        {% comment %} {{ content_for_index }} {% endcomment %}
{% comment %} <div class="w2">
<h1 class="white">Maple Never Tasted So Good</h1>
<p class="white">We blend this bourbon with natural smoked flavors for a unique, smokey sweetness. Full bodied, inviting maple notes that lift to smoke and are complemented with rich vanilla caramel. Smoked hickory and maple wood, with hints of earthy grains.</p>
</div>
    <div class="img-holder f">
    {% assign src = 'KnobCreek.png' | asset_url %}
    {% assign retina = 'KnobCreek.png' | asset_url %}
    {% capture srcset %}
      {{ 'KnobCreek.png' | asset_url }} 200w
    {% endcapture %}
    {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'bottle main'  object_fit: 'contain'%}
  </div>  {% endcomment %}


  



{% comment %} </div> {% endcomment %}


<div class="index container">
  <div class="img-holder">
    {% assign src = 'test.jpg' | file_img_url: '800x' %}
    {% assign retina = 'test.jpg' | file_img_url: 'master' %}
    {% capture srcset %}
      {{ 'test.jpg' | file_img_url: '480x' }} 320w, {{ 'test.jpg' | file_img_url: '1000x' }} 760w, {{ 'test.jpg' | file_img_url: '1500x' }} 1024w
    {% endcapture %}
    {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
  </div>

  <div class="img-holder">
    {% assign src = 'test-3.jpg' | file_img_url: '800x' %}
    {% assign retina = 'test-3.jpg' | file_img_url: 'master' %}
    {% capture srcset %}
      {{ 'test-3.jpg' | file_img_url: '480x' }} 320w, {{ 'test-3.jpg' | file_img_url: '1000x' }} 760w, {{ 'test-3.jpg' | file_img_url: '1500x' }} 1024w
    {% endcapture %}
    {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image', object_fit: 'contain' %}
  </div>


  <div class="img-holder">
    {% assign src = 'test.jpg' | file_img_url: '800x' %}
    {% assign retina = 'test.jpg' | file_img_url: 'master' %}
    {% capture srcset %}
      {{ 'test.jpg' | file_img_url: '480x' }} 320w, {{ 'test.jpg' | file_img_url: '1000x' }} 760w, {{ 'test.jpg' | file_img_url: '1500x' }} 1024w
    {% endcapture %}
    {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}
  </div>
</div>
