<header id="nav" class="nav fix w1 z10 fit fit-t ">

  {% comment %} {% include 'header-mobile-nav' %} {% endcomment %}

  {% comment %} {% include 'header-search-bar' %} {% endcomment %}

  {% comment %}
    Nav Inner
    - holds desktop menu links, icons (which are present on mobile as well), and logo
    - vertically centered
  {% endcomment %}
  {% comment %} <div class="nav__inner  f aic jcb bg-charcoal outer ">
    <a class="nav__logo" href="{{ shop.url }}">
    
      <img class="w1 block" src="{{"logo1.svg" | asset_url}}" alt="Logo" HomeContentType='SVG'/>

    </a>

    <nav class="nav__desktop mb2 pb075 redAccent">
            <p class="black ">Sponsored By</p>
 <a class="nav__logo inline-block" href="{{ shop.url }}">
    <h1 class="tan f aic jcc">{{ shop.name }}</h1>
    </a> {% endcomment %}
      {% comment %} <ul class="list--reset aic">

        {% for link in linklists.main-menu.links %}
          <li class="navav__item inline-block mr1">
            <a id="{{link.title | camelcase}}" href="{{ link.url }}" class="nav__item__link h6 decoration--none pseudo-underline">{{ link.title }}</a>
          </li>
        {% endfor %}

        {% if shop.customer_accounts_enabled %}
          <li class="nav__item inline-block mr1">
            <a href="/account" class="nav__item__link h6 decoration--none pseudo-underline">Account</a>
          </li>
        {% endif %}

      </ul> {% endcomment %}
    {% comment %} </nav>

    <div class="f aic">
      <div class="nav__icon relative inline-block c1 ml1 tan">
        <a target="_blank" href="https://www.facebook.com/barrelny" class="block absolute fit-x mha mt025 no-ajax">
          {% include 'icon' with 'icon-facebook' %}
        </a>
      </div>

      <div  class="nav__icon relative inline-block c1 ml1 tan">
        <a target="_blank" href="https://twitter.com/barrelny?lang=en" class="block absolute fit-x mha mt025 no-ajax">
          {% include 'icon' with 'icon-twitter' %}
        </a>
      </div>



  </div>
</header> {% endcomment %}

<header id="nav" class="nav relative f aic fit-t fit-l w1 bg-white z10">

  {% include 'header-mobile-nav' %}


  {% comment %}
    Nav Inner
    - holds desktop menu links, icons (which are present on mobile as well), and logo
    - vertically centered
  {% endcomment %}
  <div class="nav__inner f aic jcb w1 z1 bg-white outer">

    <a class="nav__logo inline-block" href="{{ shop.url }}">
      <img class="w1 block" src="{{"logo1.svg" | asset_url}}" alt="Logo" HomeContentType='SVG'/>
    </a>

    <nav class="nav__desktop inline-block mb025 f aic fa jce">
      <ul class="list--reset inline-block f aic">

        {% for link in linklists.main-menu.links %}
          <li class="navav__item inline-block mr1">
            <a id="{{link.title | camelcase}}" href="{{ link.url }}" class="nav__item__link h6 decoration--none pseudo-underline">{{ link.title }}</a>
          </li>
        {% endfor %}

        {% if shop.customer_accounts_enabled %}
          <li class="nav__item inline-block mr1">
            <a href="/account" class="nav__item__link h6 decoration--none pseudo-underline">Account</a>
          </li>
        {% endif %}

      </ul>
    </nav>

    <div class="f aic">
      <div class="nav__icon relative inline-block c1 ml1">
        <a target="_blank" href="https://www.facebook.com/barrelny" class="block absolute fit-x mha mva no-ajax">
          {% include 'icon' with 'icon-facebook' %}
        </a>
      </div>

      <div class="nav__icon relative inline-block c1 ml1">
        <a target="_blank" href="https://twitter.com/barrelny?lang=en" class="block absolute fit-x mha mva js-cart-btn">
          {% include 'icon' with 'icon-twitter' %}
        </a>
      </div>

      <div id="mobileToggle" class="nav__mobile__toggle relative inline-block c1 ml1">
        <button>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

  </div>
</header>
