#page {
  min-height: 100vh;
  /* background-image: url({{ 'background.jpg' | asset_url }});   */
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.outer {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (--s) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
